In [46]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [47]:
train_data = pd.read_csv("train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
test_data = pd.read_csv("test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [49]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [50]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [51]:
age40=train_data.loc[train_data.Age<40]["Survived"]
rate_age40=sum(age40)/(len(men)+len(women))

print(rate_age40)

0.2570145903479237

In [52]:
train_data=train_data.drop("PassengerId",axis=1)
train_data=train_data.drop("Name",axis=1)
train_data=train_data.drop("Ticket",axis=1)
train_data=train_data.drop("Cabin",axis=1)
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [53]:
test_data=test_data.drop("Name",axis=1)
test_data=test_data.drop("Ticket",axis=1)
test_data=test_data.drop("Cabin",axis=1)
test_data.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [54]:
train_data["Age"].isnull().sum()

177

In [55]:
data = [train_data, test_data]

for dataset in data:
    mean = train_data["Age"].mean()
    std = test_data["Age"].std()
    is_null = dataset["Age"].isnull().sum()
    # compute random numbers between the mean, std and is_null
    rand_age = np.random.randint(mean - std, mean + std, size = is_null)
    # fill NaN values in Age column with random values generated
    age_slice = dataset["Age"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    dataset["Age"] = age_slice
    dataset["Age"] = train_data["Age"].astype(int)
train_data["Age"].isnull().sum()
test_data["Age"].isnull().sum()

0

In [56]:
common_value = 'S'
train_data["Embarked"] = train_data["Embarked"].fillna(common_value)

In [57]:
test_data = test_data.fillna(test_data['Fare'].mean())

In [58]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    int32
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(1), int32(1), int64(4), object(2)
memory usage: 52.3+ KB

In [59]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    object
 3   Age          418 non-null    int32
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    object
dtypes: float64(1), int32(1), int64(4), object(2)
memory usage: 24.6+ KB

In [60]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_data["Sex"]= le.fit_transform(train_data["Sex"])
print(train_data["Sex"])

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int32

In [61]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
test_data["Sex"]= le.fit_transform(test_data["Sex"])
print(test_data["Sex"])

0      1
1      0
2      1
3      1
4      0
      ..
413    1
414    0
415    1
416    1
417    1
Name: Sex, Length: 418, dtype: int32

In [62]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_data["Embarked"]= le.fit_transform(train_data["Embarked"])
print(train_data["Embarked"])

0      2
1      0
2      2
3      2
4      2
      ..
886    2
887    2
888    2
889    0
890    1
Name: Embarked, Length: 891, dtype: int32

In [63]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
test_data["Embarked"]= le.fit_transform(test_data["Embarked"])
print(test_data["Embarked"])

0      1
1      2
2      1
3      2
4      2
      ..
413    2
414    0
415    2
416    2
417    0
Name: Embarked, Length: 418, dtype: int32

In [64]:
train_data.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked
0         0       3    1   22      1      0   7.2500         2
1         1       1    0   38      1      0  71.2833         0
2         1       3    0   26      0      0   7.9250         2
3         1       1    0   35      1      0  53.1000         2
4         0       3    1   35      0      0   8.0500         2

In [65]:
test_data.head()

   PassengerId  Pclass  Sex  Age  SibSp  Parch     Fare  Embarked
0          892       3    1   22      0      0   7.8292         1
1          893       3    0   38      1      0   7.0000         2
2          894       2    1   26      0      0   9.6875         1
3          895       3    1   35      0      0   8.6625         2
4          896       3    0   35      1      1  12.2875         2

In [66]:
X_train = train_data.drop("Survived", axis=1)
Y_train = train_data["Survived"]
X_test  = test_data.drop("PassengerId", axis=1).copy()
''' OR
X_train = train_df[:, 0:-1]
Y_train = train_df[:, -1]
X_test  = test_df[:, 1:]
'''

' OR\nX_train = train_df[:, 0:-1]\nY_train = train_df[:, -1]\nX_test  = test_df[:, 1:]\n'

In [67]:
print(X_train)

     Pclass  Sex  Age  SibSp  Parch     Fare  Embarked
0         3    1   22      1      0   7.2500         2
1         1    0   38      1      0  71.2833         0
2         3    0   26      0      0   7.9250         2
3         1    0   35      1      0  53.1000         2
4         3    1   35      0      0   8.0500         2
..      ...  ...  ...    ...    ...      ...       ...
886       2    1   27      0      0  13.0000         2
887       1    0   19      0      0  30.0000         2
888       3    0   33      1      2  23.4500         2
889       1    1   26      0      0  30.0000         0
890       3    1   32      0      0   7.7500         1

[891 rows x 7 columns]

In [68]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
print(X_train)

[[ 0.82737724  0.73769513 -0.55157161 ... -0.47367361 -0.50244517
   0.58595414]
 [-1.56610693 -1.35557354  0.63139888 ... -0.47367361  0.78684529
  -1.9423032 ]
 [ 0.82737724 -1.35557354 -0.25582899 ... -0.47367361 -0.48885426
   0.58595414]
 ...
 [ 0.82737724 -1.35557354  0.2617206  ...  2.00893337 -0.17626324
   0.58595414]
 [-1.56610693  0.73769513 -0.25582899 ... -0.47367361 -0.04438104
  -1.9423032 ]
 [ 0.82737724  0.73769513  0.18778495 ... -0.47367361 -0.49237783
  -0.67817453]]

In [69]:
print(Y_train)

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [97]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, Y_train)
Y_pred = classifier.predict(X_test)

C:\Users\guiva\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

ValueError: X has 5 features, but RandomForestClassifier is expecting 7 features as input.

In [98]:
from sklearn.metrics import accuracy_score
classifier.score(X_train, Y_train)
classifier = round(classifier.score(X_train, Y_train) * 100, 2)
classifier

96.86

In [99]:
submission = pd.DataFrame({
        "PassengerId": test_data["PassengerId"],
        "Survived": Y_pred
    })

In [100]:
submission.to_csv('submission.csv', index=False)